.section {
    &__cards-tab {
        font-size: 0;
        padding-bottom: 60px;
    }

    &__card {
        display: inline-block;
        font-size: 16px;
        width: 100%;
        @media  screen and (min-width: $breakpoint-md) {
            flex: 1 1 25%;
        }

        @media  screen and (min-width: $breakpoint-lg) {
            flex: 1 1 30%;
        }
    }

    &__cards-tab{
       display: flex;
       flex-wrap: wrap;
       gap: 60px;
    }

    &__card-item {
        padding: 2px;

        h2 {
            color: $regular-color;
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
        }
    }

    &__card-text{
        color: $white-color;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }

    &__card-icon {
        height: 64px;
        width: 64px
    }


    &__card-icon svg {
        display: block;
        right: 0;
    }


    &__inner {
        margin-bottom: 60px;
    }

    


}

.second-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 30px;
}

.hidden {
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
}