.company{

    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    &__text-title{
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 30px;
        color: $main-color;
    }

    &__card-link{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__card{
        @media (min-width: $breakpoint-xxl) {
            width: 25%;
            height: 120px;

            &__conteiner{
                border-radius: $radius-lg;
            }
		}

        @media (min-width: $breakpoint-xl) {
            width: 25%;
            height: 120px;
		}

        @media (min-width: $breakpoint-lg) {
            width: 33%;
            height: 120px;
		}

        @media (min-width: $breakpoint-md) {
            width: 256px;
            height: 120px;
		}

        @media (min-width: $breakpoint-sm) {
            width: 375px;
            height: 120px;
		}
      
    }

    

    &__card-item-1{
        flex: 1;
        order: 1;
        height: 100%;
        background: $blue-color;

        img{
            height: 48px;
            max-width: 100%;
        }
    }

    &__card-item-2{
        flex: 1;
        order: 2;
        height: 100%;
        background: $green-color;

        img{
            height: 32px;
            max-width: 100%;
        }
    }

    &__card-item-3{
        flex: 1;
        order: 3;
        height: 100%;
        background: $orange-color;

        img{
            height: 44px;
            max-width: 100%;
        }

    }

    &__card-item-4{
        flex: 1;
        order: 4;
        height: 100%;
        background: $purple-color;

        img{
            height: 42px;
            max-width: 100%;
        }
    }

    &__card-item-5{
        flex: 1;
        order: 5;
        height: 100%;
        background: $orange-color;

        img{
            height: 44px;
            max-width: 100%;
        }

    }

    &__card-item-6{
        flex: 1;
        order: 6;
        height: 100%;
        background: #E2E2E4;

        img{
            height: 48px;
            max-width: 100%;
        }
    }

    &__card-item-7{
        flex: 1;
        order: 7;
        height: 100%;
        background: $red-color;

        img{
            height: 61px;
            max-width: 100%;
        }


    }

    &__card-item-8{
        flex: 1;
        order: 8;
        height: 100%;
        background: #DCF3F9;

        img{
            height: 76px;
            max-width: 100%;
        }

   

    }

    &__card-item-9{
        flex: 1;
        order: 9;
        height: 100%;
        background: #EAEAEA;

        img{
            height: 60px;
            max-width: 100%;
        }

    }

    &__card-item-10{
        flex: 1;
        order: 10;
        height: 100%;
        background: $purple-dark-color;

        img{
            height: 38px;
            max-width: 100%;
        }

    }

    &__card-item-11{
        flex: 1;
        order: 11;
        height: 100%;
        background: $blue-dark-color;

        img{
            height: 46px;
            max-width: 100%;
        }

    }

    &__card-item-12{
        flex: 1;
        order: 12;
        height: 100%;
        background: $black-color;

        img{
            height: 95px;
            max-width: 100%;
        }

    }



}