.public{
    background: $grey-color;
    

    @media (min-width: $breakpoint-xxl) {
        margin-top: 60px;
    }

    
    &__text-title{
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
    }

    &__container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        

        @media (max-width: $breakpoint-md) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
		}
    }

    &__card{
        flex: 1 1 30%;

        @media (max-width: $breakpoint-md) {
            flex: 1 1 50%;
		}

        @media (max-width: $breakpoint-lg) {
            flex: 1 1 40%;
		}
    }

    &__card > div + div{
        @media (max-width: $breakpoint-md) {
            flex: 100%;
		}
    }

    &__card-item{
        background: $white-color;
        height: 100%;

        @media (max-width: $breakpoint-xxl) {
            border-radius: $main-radis;
        }
    }

    &__card-title{
        font-weight: 700;
        font-size: 16px;
        line-height: 19.5px;
        color: $regular-color;
        margin-bottom: 15px;
    }

    &__card-text{
        padding-top: 15px;
        border-top: 4px solid $grey-separator-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $black-color;
        margin-top: 34px;
    }

    &__card-box{
        margin: 30px;
    }


    &__image{

        img{
            height: 200px;
            width: 100%;
            object-fit: cover;
        }
    }


    &__inner{
         padding-top: 30px;
    }

    &__inner-link {
		text-decoration: none;
		color: $regular-color;
        font-weight: 700;
        font-size: 14px;

        &:hover{
			color: $red-color;
		}
	}

    &__number{
        color: $regular-color;
        font-weight: 700;
        font-size: 12px;
        color: $grey-color-text;
        line-height: 14.63px;
        margin-bottom: 15px;
    }


	&__element {
		position: relative;
		padding-right: 18px;


		&:after {
			content: '';
			position: absolute;
			top: 20%;
			transform: translate(-50%) rotate(-45deg);
			right: 0;

			border-width: 0 3px 3px 0;
			border-style: solid;
			border-color: #24A3FF;
			padding: 4px;
		}

        &:hover:after{
			border-color: $red-color;
		}
	}
}